<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="heading">
      <div class="link">
        <div class="icon"><a href="https://github.com/SumanGurung01/SmitResult"><i class="fa fa-code"></i></a></div>
        <div class="icon"><a routerLink="/developer"><i class="fa fa-user"></i></a></div>
      </div>
      <br>
      <div class="appname" align="center">
        GPA-Pro
      </div>
      <br>
</div>




<router-outlet></router-outlet>
