<div class="body" align="center">
    <br><br><br><br><br>
    <div class="card">
        <div class="me" align="center">
            <img src="../assets/me.jpeg" alt="Suman Gurung" width="140px">
        </div>
        
        <div class="info" align="center">
            <div class="name">Suman Gurung</div>
            <div class="link" align="center">
                <div class="icon"><a href="#" class="fa fa-github"></a></div>
                <div class="icon"><a href="#" class="fa fa-instagram"></a></div>
                <div class="icon"><a href="#" class="fa fa-google"></a></div>
            </div>
        </div>
        
    </div>
</div>